/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
:root{
	--softblack: #181A18;
	--alarm: radial-gradient(circle, rgba(255,0,0,0.8281687675070029) 0%, rgba(255,0,0,0.20632002801120453) 100%);
	--wit: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0.517266281512605) 43%, rgba(255,255,255,0.13071165966386555) 100%);
	--green: radial-gradient(circle, rgba(24,255,0,1) 0%, rgba(0,255,23,0.517266281512605) 43%, rgba(0,255,14,0.13071165966386555) 100%);
	--neonblauw: #00fffc;
	--neonroze: #fc00ff;
	--neongeel: #fffc00;
	--paars: #7700ff;


}

body{
	margin: 0;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: 1fr auto auto 1fr;
	height: 100vh;
	background-color: #181A18;
	justify-items: center;
}

#closed-captions{
	grid-column-start: 2;
	grid-row-start: 3;
	grid-column-end: 3;
	display: flex;
 	justify-content: center;
  	align-items: center;
	margin: 20px 0px 0px 0px;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	font-size: 20px;
	z-index: 9999;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

iframe{
	grid-column-start: 2;
	grid-row-start: 2;
	width: 850px;
	height: 480px;
	clip-path: inset(4.8em 0);
}


.voice1 {
	font-family: "Brenner Mono"; 
	font-style: Normal; 
	color: var(--neongeel);
}

.voice1normal{
	font-weight: 400;
}

.voice1strict{
	font-weight: 600;
}


.voice2 {
	font-family: "Brenner Slab Regular";
	font-size: 25px;
	color: white;
}

.voice3{
	font-family: "Brenner Display Black";
	color: var(--neonblauw);
}

.voice4{
	font-family: "Brenner Sans"; 
	font-style: Normal; 
	font-weight: 400;
	color: var(--neonroze)
}

/* Labels of characters */

.p0.on span:nth-of-type(1), .p1.on span:nth-of-type(1), .p6.on span:nth-of-type(1), .p44.on span:nth-of-type(1){
	font-family: 'Brenner Sans';
	font-style: normal;
	color: white;
	border: 1px solid white;
	padding: .3em;
}

/* Test 2 */

.p50.on span:nth-of-type(8), .p52.on span:nth-of-type(15), .p54.on span:nth-of-type(1), .p61.on span:nth-of-type(9), .p63.on span:nth-of-type(9) {
	font-family: "Brenner Mono"; 
	font-style: Normal; 
	font-weight: 600;
}

/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */





/******************/
/* DONDER SOUND 0 */
/******************/


/* Visual */

.sound0::before {
	content: '';
	background-image: url("../images/lightning-clouds.gif");
	opacity: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	animation: wolk 3s ease-in-out 0s 1;
}

@keyframes wolk{
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}


/* Text */

.sound0::after{
	content: 'DUMDUM';
	background-color: black;
	color: white;
	font-family: "Brenner Sans"; 
	font-style: Normal; 
	font-weight: 800;
	font-size: 50px;
	text-align: center;	
	padding: 7px 10px 7px 10px;
	border: 2px solid white;
	opacity: 0;
	position: absolute;
	width: auto;
	height: auto;
	top: 125px;
	right: 250px;
	animation: glitch .5s ease-in-out 0s 6, dumdum1 3s ease-in-out 0s 1;
	overflow: hidden;
}

@keyframes glitch {
	0% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	15% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	16% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	49% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	50% {
	 	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	99% {
	  	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	100% {
	  	text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
		box-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
	}
  }

@keyframes dumdum1 {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}





/*******************************/
/* Sound 1 is voor development */
/*******************************/





/*****************/
/* ALARM SOUND 2 */
/*****************/


/* Visual */

.sound2::before {
	content: '';
	background-image: var(--alarm);
	opacity: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	animation: alarm .5s ease-in-out 0s 2;
}

@keyframes alarm {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

.sound2 iframe {

	animation: zoom .5s ease-in-out 0s 2;
}

@keyframes zoom {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}


/* Text */

.sound2::after{
	content: 'WEHEHWEH';
	background-color: black;
	color: white;
	font-family: "Brenner Sans"; 
	font-style: Normal; 
	font-weight: 800;
	font-size: 50px;
	text-align: center;	
	padding: 7px 10px 7px 10px;
	border: 2px solid white;
	opacity: 0;
	position: absolute;
	width: auto;
	height: auto;
	top: 125px;
	right: 250px;
	animation: glitch2 .5s ease-in-out 0s 2, alarmtext 1s ease-in-out 0s 1;
	overflow: hidden;
}

@keyframes glitch2 {
	0% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	15% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	16% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	49% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	50% {
	 	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	99% {
	  	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	100% {
	  	text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
		box-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
	}
  }

@keyframes alarmtext {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}





/*****************/
/* SIREN SOUND 3 */
/*****************/


/* Visual */

.sound3::before {
	content: '';
	background-image: var(--alarm);
	opacity: 0;
	position: fixed;
	width: 200vw;
	height: 100vh;
	z-index: -1;
	transform: translateX(0px);
	animation: siren 1.3s ease-in-out 0s 1;
}

@keyframes siren {
	0% {
		opacity: 0;
		transform: translateX(-800px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateX(800px);
	}
}


/* Text */

.sound3::after{
	content: 'WEEEEE';
	background-color: black;
	color: white;
	font-family: "Brenner Sans"; 
	font-style: Normal; 
	font-weight: 800;
	font-size: 50px;
	text-align: center;	
	padding: 7px 10px 7px 10px;
	border: 2px solid white;
	opacity: 0;
	position: absolute;
	width: auto;
	height: auto;
	top: 125px;
	right: 250px;
	animation: glitch3 .5s ease-in-out 0s 3, sirentext 1.3s ease-in-out 0s 1;
	overflow: hidden;
}

@keyframes glitch3 {
	0% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	15% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	16% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	49% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	50% {
	 	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	85%{
	}
	99% {
	  	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	100% {
	  	text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
		box-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
	}
  }

@keyframes sirentext {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}





/******************/
/* ACCESS SOUND 4 */
/******************/


/* Visual */

.sound4::before {
	content: '';
	background-image: var(--wit);
	opacity: 0;
	position: fixed;
	width: 200vw;
	height: 100vh;
	transform: translateX(0px);
	z-index: -1;
	animation: access 1.3s ease-in-out 0s 1;
}

@keyframes access {
	0% {
		opacity: 0;
		transform: translateX(-800px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: translateX(700px);
	}
}


/* Text */

.sound4::after{
	content: 'VRMMMM';
	background-color: black;
	color: white;
	font-family: "Brenner Sans"; 
	font-style: Normal; 
	font-weight: 800;
	font-size: 50px;
	text-align: center;	
	padding: 7px 10px 7px 10px;
	border: 2px solid white;
	opacity: 0;
	position: absolute;
	width: auto;
	height: auto;
	top: 125px;
	right: 250px;
	animation: glitch4 .5s ease-in-out 0s 2, accesstext1 1.3s ease-in-out 0s 1;
	overflow: hidden;
}

@keyframes glitch4 {
	0% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	15% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	16% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	49% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	50% {
	 	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	99% {
	  	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	100% {
	  	text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
		box-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
	}
  }

@keyframes accesstext1 {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}





/*****************/
/* GREEN SOUND 4 */
/*****************/


/* Visual */

.sound5::before{
	content: '';
	background-image: var(--green);
	opacity: 0;
	position: fixed;
	width: 200vw;
	height: 100vh;
	z-index: -1;
	transform: translateX(700px);
	animation: greenfade 1s ease-in-out 0s 1;
}

@keyframes greenfade {
	0%{
		opacity: 1;
	}
	10% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


/* Text */

.sound5::after{
	content: 'BEEEP';
	background-color: black;
	color: white;
	font-family: "Brenner Sans"; 
	font-style: Normal; 
	font-weight: 800;
	font-size: 50px;
	text-align: center;	
	padding: 7px 10px 7px 10px;
	border: 2px solid white;
	opacity: 0;
	position: absolute;
	width: auto;
	height: auto;
	top: 125px;
	right: 250px;
	animation: glitch5 .5s ease-in-out 0s 2, green1 1s ease-in-out 0s 1;
	overflow: hidden;
}

@keyframes glitch5 {
	0% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	15% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	16% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	49% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	50% {
	 	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	99% {
	  	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	100% {
	  	text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
		box-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
	}
  }

@keyframes green1 {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}





/******************/
/* ACCESS SOUND 6 */
/******************/


/* Visual */

.sound6::before{
	content: '';
	background-image: var(--wit);
	opacity: 0;
	position: fixed;
	width: 200vw;
	height: 100vh;
	transform: translateX(0px);
	z-index: -1;
	animation: access2 1.3s ease-in-out 0s 1;
}

@keyframes access2 {
	0% {
		opacity: 0;
		transform: translateX(-800px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: translateX(700px);
	}
}


/* Text */

.sound6::after{
	content: 'VRMMMM';
	background-color: black;
	color: white;
	font-family: "Brenner Sans"; 
	font-style: Normal; 
	font-weight: 800;
	font-size: 50px;
	text-align: center;	
	padding: 7px 10px 7px 10px;
	border: 2px solid white;
	opacity: 0;
	position: absolute;
	width: auto;
	height: auto;
	top: 125px;
	right: 250px;
	animation: glitch6 .5s ease-in-out 0s 2, accessstext2 1s ease-in-out 0s 1;
	overflow: hidden;
}

@keyframes glitch6 {
	0% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	15% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	16% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	49% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	50% {
	 	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	99% {
	  	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	100% {
	  	text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
		box-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
	}
  }

@keyframes accessstext2 {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}





/*****************/
/* GREEN SOUND 7 */
/*****************/


/* Visual */

.sound7::before{
	content: '';
	background-image: var(--green);
	opacity: 0;
	position: fixed;
	width: 200vw;
	height: 100vh;
	z-index: -1;
	transform: translateX(700px);
	animation: greenfade2 1s ease-in-out 0s 1;
}

@keyframes greenfade2 {
	0% {
		opacity: 1;
	}
	10% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


/* Text */

.sound7::after{
	content: 'BEEEP';
	background-color: black;
	color: white;
	font-family: "Brenner Sans"; 
	font-style: Normal; 
	font-weight: 800;
	font-size: 50px;
	text-align: center;	
	padding: 7px 10px 7px 10px;
	border: 2px solid white;
	opacity: 0;
	position: absolute;
	width: auto;
	height: auto;
	top: 125px;
	right: 250px;
	animation: glitch7 .5s ease-in-out 0s 2, green2 1s ease-in-out 0s 1;
	overflow: hidden;
}

@keyframes glitch7 {
	0% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	15% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	16% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	49% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	50% {
	 	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	99% {
	  	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	100% {
	  	text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
		box-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
	}
  }

@keyframes green2 {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}





/******************/
/* ACCESS SOUND 8 */
/******************/


/* Visual */

.sound8::before{
	content: '';
	background-image: var(--wit);
	opacity: 0;
	position: fixed;
	width: 200vw;
	height: 100vh;
	transform: translateX(0px);
	z-index: -1;
	animation: access3 1.3s ease-in-out 0s 1;
}

@keyframes access3 {
	0% {
		opacity: 0;
		transform: translateX(-800px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: translateX(700px);
	}
}


/* Text */

.sound8::after{
	content: 'VRMMMM';
	background-color: black;
	color: white;
	font-family: "Brenner Sans"; 
	font-style: Normal; 
	font-weight: 800;
	font-size: 50px;
	text-align: center;	
	padding: 7px 10px 7px 10px;
	border: 2px solid white;
	opacity: 0;
	position: absolute;
	width: auto;
	height: auto;
	top: 125px;
	right: 250px;
	animation: glitch8 .5s ease-in-out 0s 2, accesstext3 1s ease-in-out 0s 1;
	overflow: hidden;
}

@keyframes glitch8 {
	0% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	15% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	16% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	49% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	50% {
	 	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	99% {
	  	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	100% {
	  	text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
		box-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
	}
  }

@keyframes accesstext3 {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}




/*****************/
/* GREEN SOUND 9 */
/*****************/


/* Visual */

.sound9::before{
	content: '';
	background-image: var(--green);
	opacity: 0;
	position: fixed;
	width: 200vw;
	height: 100vh;
	z-index: -1;
	transform: translateX(700px);
	animation: greenfade3 1s ease-in-out 0s 1;
}

@keyframes greenfade3 {
	0% {
		opacity: 1;
	}
	10% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


/* Text */

.sound9::after{
	content: 'BEEEP';
	background-color: black;
	color: white;
	font-family: "Brenner Sans"; 
	font-style: Normal; 
	font-weight: 800;
	font-size: 50px;
	text-align: center;	
	padding: 7px 10px 7px 10px;
	border: 2px solid white;
	opacity: 0;
	position: absolute;
	width: auto;
	height: auto;
	top: 125px;
	right: 250px;
	animation: glitch9 .5s ease-in-out 0s 2, green3 1s ease-in-out 0s 1;
	overflow: hidden;
}

@keyframes glitch9 {
	0% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	15% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	16% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	49% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	50% {
	 	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	99% {
	  	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	100% {
	  	text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
		box-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
	}
  }

@keyframes green3 {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}





/*****************/
/* PIEP SOUND 10 */
/*****************/


/* Visual */

.sound10::before {
	content: '';
	background-image: var(--wit);
	opacity: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	transform: translateX(0px);
	animation: piep 41s ease-in-out 0s 1;
}

.sound10 iframe{
	animation: zoom2 41s ease-in-out 0s 1
}

@keyframes piep {
	0% {
		opacity: 0;
	}
	99% {
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@keyframes zoom2 {
	0% {
		transform: scale(1);
	}
	99% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}


/* Text */

.sound10::after{
	content: 'IEEEEEEE';
	background-color: black;
	color: white;
	font-family: "Brenner Sans"; 
	font-style: Normal; 
	font-weight: 800;
	font-size: 50px;
	text-align: center;	
	padding: 7px 10px 7px 10px;
	border: 2px solid white;
	opacity: 0;
	position: absolute;
	width: auto;
	height: auto;
	top: 125px;
	right: 250px;
	animation: glitch10 2s ease-in-out 0s 21, ieee 41s ease-in-out 0s 1;
	overflow: hidden;
}

@keyframes glitch10 {
	0% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	15% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	16% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	49% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	50% {
	 	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	85%{
	}
	99% {
	  	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	100% {
	  	text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
		box-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
	}
  }

@keyframes ieee {
	  0%{
		  opacity: 0;
		  transform: scale(.1);
	  }
	  99%{
		  opacity: 1;
		  transform: scale(1);
	  }
	  100%{
		  opacity: 0;
	  }
}





/*******************/
/* DUMMMM SOUND 11 */
/*******************/


/* Visual */

.sound11::before {
	content: '';
	background-image: url("../images/lightning-clouds.gif");
	opacity: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	animation: wolk2 1.5s ease-in-out 0s 1;
}

@keyframes wolk2{
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}


/* Text */

.sound11::after{
	content: 'DUMMMM';
	background-color: black;
	color: white;
	font-family: "Brenner Sans"; 
	font-style: Normal; 
	font-weight: 800;
	font-size: 50px;
	text-align: center;	
	padding: 7px 10px 7px 10px;
	border: 2px solid white;
	opacity: 0;
	position: absolute;
	width: auto;
	height: auto;
	top: 125px;
	right: 250px;
	animation: glitch11 .5s ease-in-out 0s 3, dumtext 1s ease-in-out 0s 1;
	overflow: hidden;
}

@keyframes glitch11 {
	0% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	15% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	16% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	49% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	50% {
	 	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	99% {
	  	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	100% {
	  	text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
		box-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
	}
  }

@keyframes dumtext {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}





/*****************/
/* PIEP SOUND 12 */
/*****************/

/* Visual */

.sound12::before {
	content: '';
	background-image: var(--wit);
	opacity: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	animation: piep2 42.2s ease-in-out 0s 1;
}

.sound12 iframe{
	animation: zoom3 42.2s ease-in-out 0s 1
}

@keyframes zoom3 {
	0% {
		transform: scale(1);
	}
	99% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes piep2 {
	0% {
		opacity: 0;
	}
	99% {
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}


/* Text */

.sound12::after{
	content: 'IEEEEEEE';
	background-color: black;
	color: white;
	font-family: "Brenner Sans"; 
	font-style: Normal; 
	font-weight: 800;
	font-size: 50px;
	text-align: center;	
	padding: 7px 10px 7px 10px;
	border: 2px solid white;
	opacity: 0;
	position: absolute;
	width: auto;
	height: auto;
	top: 125px;
	right: 250px;
	animation: glitch12 2s ease-in-out 0s 21, ieee2 42.2s ease-in-out 0s 1;
	overflow: hidden;
}

@keyframes glitch12 {
	0% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	15% {
	  	text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
		box-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
		0.025em 0.04em 0 #fffc00;
	}
	16% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	49% {
	  	text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
		box-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
		-0.05em -0.05em 0 #fffc00;
	}
	50% {
	 	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	99% {
	  	text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
		box-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
		0 -0.04em 0 #fffc00;
	}
	100% {
	  	text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
		box-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
		-0.04em -0.025em 0 #fffc00;
	}
  }

@keyframes ieee2 {
	0%{
		opacity: 0;
		transform: scale(.1);
	}
	99%{
		opacity: 1;
		transform: scale(1);
	}
	100%{
		opacity: 0;
	}
}